
<div class="container-xl px-4 mt-4">
  <h2>Dashboard</h2>
  <hr class="mt-0 mb-4">

    <div class="row">
      <div class="col-xl-4">
            <!-- Profile picture card-->
          <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                  <div class="profile-picture mb-2">
                  <%= cl_image_tag current_user.avatar.key, class:"card-img-top card-user-avatar rounded-circle" if current_user.avatar.attached? %>
                  </div>


                </div>
          </div>
      </div>
        <div class="col-xl-8">
            <!-- Account details card-->
          <div class="card mb-4">
            <div class="card-header">Account Details</div>
              <div class="card-body">
                <form>
                        <!-- Form Group (email)-->
                  <div class="mb-3">
                    <p>Email:
                    <br>
                    <%= current_user.email %></p>
                  </div>
              </div>
                </form>
          </div>
          </div>
      </div>


  <div class="col-xl-12 d-flex align-items-center justify-content-center">
    <div class="card mb-4 mx-auto w-100 card-item card-listings">
      <div class="card-header">Your listings</div>
        <div class="card-body row">
           <% @items.each do |item| %>
            <div class="col-3">
           <%= cl_image_tag item.photo.key, class:"card-img", height: 300 if item.photo.attached? %>
           <div class="card-body">
           <h4><%= link_to item.name.capitalize, item_path(item) %></h4>
           <hr class="mt-0 mb-4">
           <p>€<%= item.price %>.-</p>
           <p><%= item.location %></p>
            </div>
           <%= link_to "Edit", edit_item_path(item), class: "btn btn-primary", class: "btn-dashboard"%>
           <%= link_to "Delete", item_path(item),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary", class: "btn-dashboard"%>
              </div>
           <% end %>
           </div>
      </div>
    </div>


  <div class="col-xl-12 d-flex align-items-center justify-content-center">
    <div class="card mb-4 mx-auto w-100 card-item card-listings">
      <div class="card-header">My bookings</div>
        <div class="card-body row">
           <% @bookings.each do |booking| %>
            <div class="col-3">
           <%= cl_image_tag booking.item.photo.key, class:"card-img", height: 300 if booking.item.photo.attached? %>
              <div class="card-body">
                <h4><%= link_to booking.item.name.capitalize, item_path(booking.item) %></h4>
                <hr class="mt-0 mb-4">
                <p>€<%= booking.item.price %>.-</p>
                <p><%= booking.item.location %></p>
                <hr class="mt-0 mb-4">
                <p>From: <%= booking.start_date %></p>
                <p>Until: <%= booking.end_date %></p>
                </div>
              </div>
           <% end %>
           </div>
      </div>
    </div>



  <div class="col-xl-12 d-flex align-items-center justify-content-center">
    <div class="card mb-4 mx-auto w-100 card-booking">

      <div class="card-header">My received bookings</div>
        <div class="card-body row">
        <p>No received bookings yet.</p>
        <% @received_bookings.each do |booking| %>
          <div class="col-3">
           <%= cl_image_tag booking.item.photo.key, class:"card-img", height: 300 if booking.item.photo.attached? %>
            <div class="card-body">
              <h4><%= link_to booking.item.name.capitalize, item_path(booking.item) %></h4>
              <hr class="mt-0 mb-4">
              <p>€<%= booking.item.price %>.-</p>
              <p><%= booking.item.location %></p>
              <hr class="mt-0 mb-4">
              <p>From: <%= booking.start_date %></p>
              <p>Until: <%= booking.end_date %></p>
              </div>

              </div>
           <% end %>
           </div>
      </div>
    </div>
</div>
