<div class="homepage">
  <div class="banner" style ="background-image: url('https://plus.unsplash.com/premium_photo-1676422353822-acd056e0bdce?q=80&w=1967&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <div class="container">
      <div class="head">
        <h1>AIRPNP</h1>
        <p>everything you need for a party!</p>
      </div>
    </div>
  </div>

  <div class="items">
    <h2 id="popular">
      Most popular this week
    </h2>

    <div class="container">
      <div class="row center">
        <% @items.each do |item| %>
          <div class="col-3">
            <div class="card d-flex justify-content-between" style="height:500px">
              <%= cl_image_tag(item.photo.key, class:"card-img-top", height: 300 )%>
                <div class="card-body">
                  <h2>
                    <%= link_to item.name, item_path(item), class: "text-decoration-none" %>
                  </h2>
                  <p>
                    <%= item.description %>
                  </p>
                  <p>€<%= item.price %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <div class="all text-center">
    <%= link_to "All listings", items_path %>
    </div>
  </div>



</div>
