
<div class="container px-4 mt-4">
  <h2>All listings</h2>
  <hr class="mt-0 mb-4">
  <div class="row">

    <% @items.each do |item| %>
      <div class="col-3">
        <div class="card d-flex justify-content-between card-item">
        <% if item.photo.attached?%>
          <%= cl_image_tag item.photo.key, class:"card-img", height: 300 %>
        <% end %>

            <div class="card-body">
              <h4>
                <%= link_to item.name.capitalize, item_path(item), class: "text-decoration-none" %>
              </h4>
              <hr class="mt-0 mb-4">
              <p>
                <%= item.description %>
              </p>
              <p>€<%= item.price %>.-</p>
              <p><%= item.location %></p>
            </div>

        </div>
        </div>
      <% end %>
</div>
</div>
