<div class="tohomepage d-flex justify-content-around">
  </div>


<div class="container">
  <div class="row">

    <% @items.each do |item| %>
      <div class="col-3">
        <div class="card d-flex justify-content-between" style="height:500px">
        <% if item.photo.attached?%>
          <%= cl_image_tag item.photo.key, class:"card-img-top", height: 300 %>
        <% end %>

            <div class="card-body">
              <h2>
                <%= link_to item.name.capitalize, item_path(item), class: "text-decoration-none" %>
              </h2>
              <p>
                <%= item.description %>
              </p>
              <p>€<%= item.price %>
              </p>
              <p><%= item.location %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>
