<div class="container px-4 mt-4">
  <h2>Add new item</h2>
  <hr class="mt-0 mb-4">


  <%= simple_form_for(@item, html: { multipart: true }) do |f| %>
    <!-- [...] -->
    <%= f.input :name, as: :string %>
    <%= f.input :price, as: :integer %>
    <%= f.input :description, as: :string %>
    <%= f.input :location, as: :string %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Add item", class: "btn btn-primary" %>
    <!-- [...] -->
  <% end %>
</div>
