<div class="container-fluid text-center mt-3">
      <%= link_to "Back to listings", items_path %>

  <div class="item-photo">
        <%= image_tag(@item.photo.url, width: 400, height: 300, crop: :fill) %>

    </div><br>
  <div>
    <h3><strong><%= @item.name %></strong></h3>
    <p><%= @item.description %></p>
    <p><%= @item.location %></p>
    <p><%= @item.price %></p>
  </div>

 <div id="booking-form">
      <%= simple_form_for([@item, @booking], html: { multipart: true }) do |f| %>
        <% f.input :start_date, as: :string,
                  #  :end_date, as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
         <%= f.submit %>
      <% end %>
  </div>
 </div>


    <%# <%= text_field_tag :opening_date, nil, placeholder: 'Choose a date', data: { controller: "datepicker" }
    <button type="button" class="btn btn-light" id="bookButton">Book</button> %>

 
