<%= render 'image' %>

<div class="container-listing">
  <div class="row listing-content">
    <!-- Details box -->
    <div class="item col-md-8">
      <div class="item-name">
        <h3><strong><%= @item.name %></strong></h3>
        <p><%= @item.description %></p>
        <p><%= @item.location %></p>
        <p><%= @item.price %></p>
      </div><br>
    </div>
  </div>
</div>
