<%# <%= render 'image' %>

<div class="container-fluid text-center mt-3">
    <!-- Details box -->
  <div class="item-photo">
      <%= cl_image_tag(@item.photo.key, width: 400, height: 300, crop: :fill) %>
    </div><br>
      <h3><strong><%= @item.name %></strong></h3>
      <p><%= @item.description %></p>
      <p><%= @item.location %></p>
      <p><%= @item.price %></p>
  </div>
</div>
