<div class="container px-4 mt-4">
    <h2>Item</h2>
    <hr class="mt-0 mb-4">
    <div class="card mb-4 mx-auto w-100 card-item">

        <div class="card-img">
          <%= image_tag(@item.photo.url, width: 400, height: 300, crop: :fill) %>
        </div><br>
        <div>
          <h4><strong><%= @item.name.capitalize %></strong></h4>
          <hr class="mt-0 mb-4">
          <p><%= @item.description %></p>
          <p><%= @item.location %></p>
          <p><%= @item.price %></p>


      <div style="width: 50%; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    <div>
        <%= simple_form_for([@item, @booking], html: { multipart: true }) do |f| %>
          <%= f.input :start_date, as: :string %>
          <%= f.input :end_date, as: :string %>
          <%= f.submit "Create Booking", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
